@charset "UTF-8";
.elements.panel .outline-disclosure.source-code {
  background: #d9d9d9; }
.elements.panel .elements-tree-outline {
  padding: 5px 5px 5px 10px;
  line-height: 18px; }
.elements.panel .webkit-html-text-node.bogus {
  margin: 0 2px;
  display: inline-block;
  vertical-align: middle;
  text-indent: 100%;
  overflow: hidden;
  width: 24px;
  height: 10px;
  line-height: 10px;
  color: #7c7c7c;
  background: rgba(183, 183, 183, 0.4);
  border-radius: 3px; }
  .elements.panel .webkit-html-text-node.bogus:before {
    float: left;
    text-indent: 0;
    text-align: center;
    width: 24px;
    font-family: serif;
    content: "···";
    font-size: 17px; }
.elements.panel .outline-disclosure ol li {
  margin: 0; }
.elements.panel .outline-disclosure ol li:before {
  margin-top: 2px;
  z-index: 3; }
.elements.panel .outline-disclosure ol .highlight {
  position: relative;
  z-index: 2; }
.elements.panel .outline-disclosure ol li.hovered:not(.selected) .selection,
.elements.panel .outline-disclosure ol li.hovered:not(.selected) .webkit-html-tag.close {
  background: rgba(86, 135, 169, 0.2);
  border-radius: 0;
  z-index: 2; }
.elements.panel .outline-disclosure ol li.hovered:not(.selected) .selection {
  left: 0;
  right: 0; }
.elements.panel .outline-disclosure ol li.selected .selection,
.elements.panel .outline-disclosure ol li.selected .webkit-html-tag.close {
  background: rgba(0, 0, 0, 0.15);
  z-index: 2; }
.elements.panel .outline-disclosure ol:focus li.selected .selection,
.elements.panel .outline-disclosure ol:focus li.selected .webkit-html-tag.close {
  background: rgba(39, 101, 145, 0.7); }
.elements.panel .outline-disclosure ol .children.expanded {
  margin: 4px 0;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin-bottom: 18px; }
.elements.panel .outline-disclosure ol .children {
  position: relative; }
  .elements.panel .outline-disclosure ol .children li:last-child {
    line-height: 0;
    background: none;
    margin: 0 0 0 -12px; }
    .elements.panel .outline-disclosure ol .children li:last-child > span {
      width: 100%;
      display: block; }
    .elements.panel .outline-disclosure ol .children li:last-child .webkit-html-tag.close {
      line-height: 18px;
      position: absolute;
      padding-left: 16px;
      top: 0;
      left: -14px;
      right: 0;
      height: 18px; }
.elements.panel .outline-disclosure ol .parent {
  padding-left: 0;
  margin-left: -3px; }

.webkit-html-doctype {
  color: rgba(0, 0, 0, 0.3); }
